.DS_Store
_references/hide-npc-names-main/.github/workflows/main.yml
_references/hide-npc-names-main/.github/workflows/manual.yml
_references/hide-npc-names-main/actor_menu.webp
_references/hide-npc-names-main/actor_sheet.webp
_references/hide-npc-names-main/assets/mask-solid.svg
_references/hide-npc-names-main/CHANGELOG.md
_references/hide-npc-names-main/gm_view.webp
_references/hide-npc-names-main/lang/en.json
_references/hide-npc-names-main/lang/it.json
_references/hide-npc-names-main/LICENSE
_references/hide-npc-names-main/module.js
_references/hide-npc-names-main/module.json
_references/hide-npc-names-main/package.json
_references/hide-npc-names-main/player_view.webp
_references/hide-npc-names-main/README.md
_references/hide-npc-names-main/scripts/actor-form.js
_references/hide-npc-names-main/scripts/config.js
_references/hide-npc-names-main/scripts/hide-npc-names.js
_references/hide-npc-names-main/scripts/hooks-manager.js
_references/hide-npc-names-main/scripts/settings.js
_references/hide-npc-names-main/scripts/token-action-hud.js
_references/hide-npc-names-main/scripts/utils.js
_references/hide-npc-names-main/styles/hide-npc-names.css
_references/hide-npc-names-main/templates/actor-hide-name.hbs
